/* banner related style */
.banner-card {
    height: 800px;

    position: relative;
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: none;
    background-size: cover;


}

.banner-text {
    font-size: 50px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0, 5);
    padding-top: 300px;

}

/* main style */
/* biscount */
.discount {
    text-align: center;
    margin-top: 150px;
}

.off {
    font-size: 100px;
    color: red;
}

.deal {
    color: red;

}

.catagories {
    font-size: 50px;
}

.banner-cards {
    height: 800px;
    margin-top: 400px;
    position: relative;
    background-image: url('/resources/Vectorrr.png');
    background-repeat: none;
    background-size: cover;

}

.banner-texts {
    font-size: 50px;
    color: white;
    display: flex;

    flex-direction: column;

    background-color: rgba(0, 0, 0, 0, 5);
    padding-top: 50px;
    padding-left: 50px;

}

.join {
    padding: 10px 10px 10px 10px;
    margin-right: 80%;

}

.button {
    background-color: orangered;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 36px;
}

.btn-primary {
    text-align: center;
    margin-top: 20px;
}

.comming-soon {
    display: flex;
    margin-top: 200px;
    background-color: #FFF8F3;
    align-items: center;
    background-image: url('/resources/Group\ 96.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-content: space-between;
}

.date {
    color: red;
    font-size: 30px;
}

.best {
    color: red;
}

.sale {
    text-align: center;
    margin-top: 100px;
    background-color: #FFF8F3;

}

.mid-section {
    font-size: 100px;

}

.fun {
    padding-top: 100px;
}

.span {
    color: red;
}

.shopping {
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    background-image: url('/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;

}

.resource {
    padding-left: 70px;
}

.Rectangle {
    padding-right: 700px;
    background-image: url('/resources/Rectangle\ 1.png');
    background-position: top;
    background-repeat: no-repeat;
}

/* portfolio related style */
.portfolio {
    margin-top: 100px;
}

.gift {
    color: red;
}

.spans {
    font-size: 60px;
}

.sunglass {
    justify-content: space-between;
    gap: 50px;
}

.news {
    background-color: #FFF8F3;
    text-align: center;

}

.submit {

    background-color: orangered;
    border-radius: 5px;
    color: aliceblue;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 36px;
}

.input {
    border: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: black;
    color: #FFF8F3;
}

.footer-tittle {
    padding-top: 400px;
    margin-bottom: 100px;
}

.footer-tittles {
    padding-top: 60px;

}

.icon {
    padding-top: 300px;
}