/* banner related style */
.banner-card {
    height: 800px;

    position: relative;
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: none;
    background-size: cover;


}

.banner-text {
    font-size: 50px;
    color: rgb(3, 107, 155);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0, 5);
    padding-top: 300px;

}

/* main style */
/* biscount */
.discount {
    text-align: center;
    margin-top: 150px;
}

.off {
    font-size: 100px;
    color: red;
}

.deal {
    color: red;

}

.catagories {
    font-size: 50px;
}